body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:black;
    background: linear-gradient(to left,#968cdb, #d8dfe2);
}

header {
    background: linear-gradient(to left, #000000,#0d0251);
    padding: 20px;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-picture {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-info {
    text-align: left;
    color: #fff; /* Cor branca para o texto do header */
}

.personal-info h1 {
    margin: 0;
    font-size: 24px;
}

.personal-info p {
    margin: 5px 0;
}

nav {
    background: linear-gradient(to left, #000000,#260adc);
    padding: 10px;
    text-align: left;
}

nav a {
    color: #fff; /* Cor branca para os links do nav */
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: black;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

footer {
    background: linear-gradient(to left, #000000,#260adc);
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

/* Regras de mídia para ajustar o layout em dispositivos móveis */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
    }

    .profile-picture {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px;
    }

    .personal-info h1 {
        font-size: 20px;
    }

    .personal-info p {
        font-size: 14px;
    }
}

/* Estilos para centralizar os vídeos */
section#meus-videos {
    text-align: center; /* Centraliza os vídeos na seção */
}

.youtube-channel {
    margin-bottom: 30px;
}

.youtube-channel h3 {
    color: #555;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.youtube-channel iframe {
    max-width: 100%;
    height: auto;
}
